<!DOCTYPE HTML>

<html>
	<head>
		<title>Geeku Resources</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/resources.css" />
		<link rel="icon" href="../static/images/icons/resources.ico">
	</head>
	<body class="subpage">
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Geeku</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/join-forums">Forums</a></li>
					<li><a href="/resources/exams#{{board}}{{grade}}">Exams</a></li>
					<li><a href="/resources/syllabus#{{board}}{{grade}}">Syllabus</a></li>
					<li><a href="#">Doubts</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Geeku Resources</p>
						<h2>Exam Details</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2" style="color: #000;">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
							</header>
<h2>Table of Contents</h2>
<ol style="color: #000;">
	<a href="#IB"><li>IB</li></a>
	<ul>
	  <a href="#IB6"><li>Grade 6 Exam Details</li></a>
	  <a href="#IB7"><li>Grade 7 Exam Details</li></a>
	  <a href="#IB8"><li>Grade 8 Exam Details</li></a>
	  <a href="#IB9"<li>Grade 9 Exam Details</li></a>
      <a href="#IB10"><li>Grade 10 Exam Details</li></a>
	  <a href="#IB11"><li>Grade 11 Exam Details</li></a>
      <a href="#IB12"><li>Grade 12 Exam Details</li></a>
	  </ul>
	  <a href="#IGCSE"><li>IGCSE</li></a>
	<ul>
	   <a href="#IGCSE6"><li>Grade 6 Exam Details</li></a>
	  <a href="#IGCSE7"><li>Grade 7 Exam Details</li></a>
	  <a href="#IGCSE8"><li>Grade 8 Exam Details</li></a>
	  <a href="#IGCSE9"<li>Grade 9 Exam Details</li></a>
      <a href="#IGCSE10"><li>Grade 10 Exam Details</li></a>
	  <a href="#IGCSE11"><li>Grade 11 Exam Details</li></a>
      <a href="#IGCSE12"><li>Grade 12 Exam Details</li></a>
	</ul>
	<a href="#CBSE"><li>CBSE</li></a>
	<ul>
	   <a href="#CBSE6"><li>Grade 6 Exam Details</li></a>
	  <a href="#CBSE7"><li>Grade 7 Exam Details</li></a>
	  <a href="#CBSE8"><li>Grade 8 Exam Details</li></a>
	  <a href="#CBSE9"<li>Grade 9 Exam Details</li></a>
      <a href="#CBSE10"><li>Grade 10 Exam Details</li></a>
	  <a href="#CBSE11"><li>Grade 11 Exam Details</li></a>
      <a href="#CBSE12"><li>Grade 12 Exam Details</li></a>
	</ul>
    <a href="#ICSE"><li>ICSE</li></a>
	<ul>
	   <a href="#ICSE6"><li>Grade 6 Exam Details</li></a>
	  <a href="#ICSE7"><li>Grade 7 Exam Details</li></a>
	  <a href="#ICSE8"><li>Grade 8 Exam Details</li></a>
	  <a href="#ICSE9"<li>Grade 9 Exam Details</li></a>
      <a href="#ICSE10"><li>Grade 10 Exam Details</li></a>
	  <a href="#ICSE11"><li>Grade 11 Exam Details</li></a>
      <a href="#ICSE12"><li>Grade 12 Exam Details</li></a>
	</ul>
	  
</ol>
<br><br>

<section id="IB">
	<h2 style="text-align: center;">International Baccalaureate</h2>
<h3 id="IB6">6TH GRADE SYLLABUS</h3>
<p>Below is the 6th Grade IB Syllabus --> </p>
<table class="syllabus-table" style="border: 1px solid #000">
	<thead>
		<tr>
			<th style='width: 40%; border: 1px solid #000; text-align: center;'>Topics</th>
			<th style='width: 40%; border: 1px solid #000; text-align: center;'>Subtopics</th>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Forces and Energy</td>
			<td style="border: 1px solid #000;">
				<ul>
		            <li>Measurement in science</li>
				    <li>States and properties of matter</li>
					<li>Kinetic theory</li>
					<li>Density</li>
					<li>Forces and effects of forces</li>
					<li>Forces and motion</li>
					<li>Speed and motion graphs </li>
					<li>Newton’s laws</li>
					<li>Pressure</li>
					<li>Work done and Power</li>
					<li>Efficiency</li>
					<li>Gravity and Gravitational fields</li>
					<li>Energy resources</li>
					<li>Fuels and Environmental impact</li>
					<li>Transfer and Transformation of Energy</li>
					<li>Conservation of Energy</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Electromagnetism</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Static Electricity</li>
					<li>Induction of charge</li>
					<li>Current Electricity</li>
					<li>Ohm's Law</li>
					<li>Electric Circuits</li>
					<li>Magnetism</li>
					<li>Electomagnets</li>
					<li>Electric and Magnetic Fields</li>
					<li>Electromagnetic Forces and Induction</li>
					<li>AC & DC current</li>
					<li>Power</li>
					<li>Transformers</li>
					<li>Power Transmission</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Astrophysics</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>The Solar System</li>
					<li>Planets and Satellites</li>
					<li>Big Bang Theory</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Heat, Light, Sound</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Classification of waves - Transverse and Logitudinal waves, Mechanical and Electromagnetic waves</li>
					<li>Features or Parts of a Wave</li>
					<li>Sound Waves</li>
					<li>Wave Phenomena - reflection, refraction, difraction, total internal reflection</li>
					<li>Wave Equation</li>
					<li>Electromagnetic Spectrum</li>
					<li>Features and Uses of all Electromagnetic radiation in the EM Spectrum</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Atomic Physics</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Atomic Structure - features of all subatomic particles</li>
					<li>Radioactive decay - alpha decay, beta decay, gamma decay</li>
					<li>Gold foil Experiment</li>
					<li>Features of alpha particles, beta particles and gamma rays</li>
					<li>Half Life</li>
					<li>Uses and Dangers of Radioactive substances</li>
				</ul>
			</td>
		</tr>
	</thead>
	</table>

	</section>
	<section id="IGCSE">
	<h2 style="text-align: center;">International General Certificate of Secondary Education</h2>
	
<h3 id="IGCSE6">SYLLABUS</h3>
<p>Below is the Chemistry Syllabus for your MYP E-assessments --> </p>

<table class="syllabus-table" style="border: 1px solid #000">
	<thead>
		<tr>
			<th style='width: 40%; border: 1px solid #000; text-align: center;'>Topics</th>
			<th style='width: 40%; border: 1px solid #000; text-align: center;'>Subtopics</th>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Periodic Table </td>
			<td style="border: 1px solid #000;">
				<ul>
		            <li>Metals and Non-metals</li>
				    <li>Transition metals</li>
					<li>Noble Gases</li>
					<li>Trends of the Periodic Table</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">The Atmosphere</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Characteristics of gases</li>
					<li>Atmospheric composition</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Matter</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>States and Properties of Matter</li>
					<li>Particle/kinetic Theory</li>
					<li>Diffusion</li>
					<li>Atomic structure [including Isotopes]</li>
					<li>Electron Configuration and Valency</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Pure and impure substances</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Types of mixtures</li>
					<li>Separating techniques - including sedimentation, filteration, distillation and chromatography</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Bonding</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Chemical Formulas - including word equations and formula equations</li>
					<li>Chemical reactions and the Conservation of mass</li>
					<li>Balancing equations</li>
					<li>Types of bonds - including ionic, covalent, metallic and other intermollecular bonds such as hydrogen bonds and intermolecular forces such as Van Der Walls forces</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Stoichiometry</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Molecular Mass</li>
					<li>Mole Concept</li>
					<li>Mole Ratio</li>
					<li>Theoretical and Percentage Yield</li>
					<li>Percentage Purity</li>
					<li>Percentage Composition</li>
					<li>Calculations with regards to hydrous salts</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;">Enthalpy</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Chemical Equilibrium</li>
					<li>Le Chatlier's Principle</li>
					<li>Bond Enthalpy and Calculating the Change in Enthalpy</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000; text-align: center;"> Organic Chemistry</td>
			<td style="border: 1px solid #000;">
				<ul>
					<li>Families of Organic Compounds</li>
					<li>Features of Functional Groups - alkanes, alkenes, alcohols, carboxylic acids</li>
					<li>IUPAC naming of organic compounds</li>
					<li>Determining the Structural Formula of Organic Compounds</li>
					<li>Isomerism</li>
					<li>Esterification</li>
					<li>Polymers</li>
				</ul>
			</td>
		</tr>
	</thead>
	</table>

	<br>
	
</section>	

<section id="CBSE">
	<h2 style="text-align: center;">Central Board of Secondary Education</h2>
</section>
</section> <!--Everything should be above this seciton, else they go out of the border and the footer comes up -->

						</div>
					</div>
				</div>

			</section>

		<!-- Footer -->
			<footer id="footer">
				
				<div class="copyright">
					&copy; Geeku
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/resources.js"></script>
			<script>
	function showans1(){
		 var answer = document.getElementById("ans1");
		 if(answer.style.display === "none")
		 {
		 	answer.style.display = "block";
		 }
		 else{
		 	answer.style.display = "none";
		 }
	}

	function showans2(){
		 var answer = document.getElementById("ans2");
		 if(answer.style.display === "none")
		 {
		 	answer.style.display = "block";
		 }
		 else{
		 	answer.style.display = "none";
		 }
	}
	function showans3(){
		 var answer = document.getElementById("ans3");
		 if(answer.style.display === "none")
		 {
		 	answer.style.display = "block";
		 }
		 else{
		 	answer.style.display = "none";
		 }
	}
	function showans4(){
		 var answer = document.getElementById("ans4");
		 if(answer.style.display === "none")
		 {
		 	answer.style.display = "block";
		 }
		 else{
		 	answer.style.display = "none";
		 }
	}
</script>

<script type="text/javascript">
	function showans(id_name){
		var answer_chem = document.getElementById(id_name);
		if(answer_chem.style.display === "none")
		 {
		 	answer_chem.style.display = "block";
		 }
		else{
		 	answer_chem.style.display = "none";
		 }
	}
</script>

	</body>
</html>