<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Sign Up</title>

    <!-- Icons font CSS-->
    <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../static/css/register.css" rel="stylesheet" media="all">
    <link rel="icon" href="../static/images/icons/signup.png">
</head>


<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Create An Account</h2>
                    
                    {{#if step1}}
                    <h2 class="title" style="text-align:center">Step 1</h2>
                    <form method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">First Name</label>
                                    <input class="input--style-4" type="text" name="fname" size="50px">
                                </div>
                            </div>
                             <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Last Name</label>
                                    <input class="input--style-4" type="text" name="lname" size="50px">
                                </div>
                            </div>
                            <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email" size="100px">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                               
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Account Type</label>
                                    <div class="p-t-10">
                                        <label class="radio-container">Teacher
                                            <input type="radio" name="teacher"  id="teacher" onclick="checkradio()">
                                            <span class="checkmark"></span>
                                        </label> 
                                        <label class="radio-container">Student
                                            <input type="radio" name="student" id="student" onclick="checkradio()">
                                            <span class="checkmark"></span>
                                        </label>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <a href="/register-step2"> <button class="btn btn--radius-2 btn--blue" type="submit">Next</button></a>
                        </div>

                        <script>
                            function checkradio(){
                                var x = document.getElementById("student");
                                var y = document.getElementById("teacher");

                                if(x.checked == true){
                                    y.checked = false;
                                    x.checked = true;
                                }
                                else if(y.checked == true){
                                    x.checked = false;
                                    y.checked = true;
                                }
                                else if(x.checked == false){
                                    y.checked = true;
                                }
                                else if(y.checked == false){
                                    x.checked = true;
                                }
                                else{
                                    x.checked = false;
                                    y.checked = false;
                                }
                            }
                        </script>
                        {{/if}}
                        
                        {{#if step2}}
                        <h2 class="title" style="text-align:center">Step 2</h2>
                            <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="state">
                                    <option disabled="disabled" selected="selected">Choose the State In Which Your School Is In</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chattisgarh">Chattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharasthra">Maharasthra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Jammu and Khashmir">Jammu and Khashmir</option>
                                    <option value="Ladakh">Ladakh</option>
                                    <option value="Puducherry">Puducherry</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="board">
                                    <option disabled="disabled" selected="selected">Choose Board</option>
                                    <option value="IB MYP">IB MYP</option>
                                    <option value="IB DP">IB DP</option>
                                    <option value="IGCSE">IGCSE</option>
                                    <option value="ICSEP">ICSE</option>
                                    <option value="CBSE">CBSE</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                         <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="school">
                                    <option disabled="disabled" selected="selected">Choose School</option>
                                    <option value="IB MYP">IB MYP</option>
                                    <option value="IB DP">IB DP</option>
                                    <option value="IGCSE">IGCSE</option>
                                    <option value="ICSEP">ICSE</option>
                                    <option value="CBSE">CBSE</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="grade">
                                    <option disabled="disabled" selected="selected">Choose Grade</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <script>
                            function showCheckboxes() {
                                var checkboxes = document.getElementById("checkboxes");

                                if (show){
                                    checkboxes.style.display = "block";
                                    show = false
                                }
                                else{
                                    checkboxes.style.display = "none";
                                    show = true; 
                                }
                            }
                        </script>

                        <div class="input-group">
                            <label class="label">Subjects</label>
                            <style>
                                table {
                                font-family: arial, sans-serif;
                                border-collapse: collapse;
                                width: 100%;
                                }

                                td, th {
                                border: 1px solid #dddddd;
                                text-align: left;
                                padding: 8px;
                                width: 20%;
                                }

                                tr:nth-child(even) {
                                background-color: #dddddd;
                                }
                            </style>
                            <table>
                                <tr>
                                    <th>Humanities</th> 
                                    <th>Sciences</th> 
                                    <th>Languages</th>
                                    <th>Mathematics</th>
                                    <th>Arts & Others</th>
                                </tr>
                                <tr>
                                    <td>History  <input type="checkbox" name="history" id="checkbox" value="History" placeholder="History"></td>
                                    <td>Physics  <input type="checkbox" name="physcs" id="checkbox" value="Physics" placeholder="Physics"></td>
                                    <td>English  <input type="checkbox" name="english" id="checkbox" value="English" placeholder="English"></td>
                                    <td>Ad Math  <input type="checkbox" name="admath" id="checkbox" value="Ad Math" placeholder="Ad Math"></td>
                                    <td>Visual Art  <input type="checkbox" name="art" id="checkbox" value="Visual Art" placeholder="Visual Art"></td>
                                </tr>
                               <tr>
                                    <td>Geography  <input type="checkbox" name="geography" id="checkbox" value="Geography" placeholder="Geography"></td>
                                    <td>Chemistry  <input type="checkbox" name="chemistry" id="checkbox" value="Chemistry" placeholder="Chemistry"></td>
                                    <td>Spanish  <input type="checkbox" name="spanish" id="checkbox" value="Spanish" placeholder="Spanish"></td>
                                    <td>Extended Math [IG] <input type="checkbox" name="extended" id="checkbox" value="Extended Math" placeholder="Extended Math"></td>
                                    <td>Music  <input type="checkbox" name="music" id="checkbox" value="Music" placeholder="Music"></td>
                                </tr>
                                <tr>
                                    <td>Economics  <input type="checkbox" name="economics" id="checkbox" value="Economics" placeholder="Economics"></td>
                                    <td>Biology  <input type="checkbox" name="biology" id="checkbox" value="Biology" placeholder="Biology"></td>
                                    <td>Hindi  <input type="checkbox" name="hindi" id="checkbox" value="Hindi" placeholder="Hindi"></td>
                                    <td>Core Math <input type="checkbox" name="core" id="checkbox" value="Core Math" placeholder="Core Math"></td>
                                    <td>Drama  <input type="checkbox" name="drama" id="checkbox" value="Drama" placeholder="Drama"></td>
                                </tr>
                                <tr>
                                    <td>Business  <input type="checkbox" name="business" id="checkbox" value="Business" placeholder="Business"></td>
                                    <td>Computer Science  <input type="checkbox" name="csc" id="checkbox" value="Computer Science" placeholder="Computer Science"></td>
                                    <td>French  <input type="checkbox" name="french" id="checkbox" value="French" placeholder="French"></td>
                                    <td>International Math <input type="checkbox" name="inter" id="checkbox" value="International Math" placeholder="International Math"></td>
                                    <td>PHE  <input type="checkbox" name="phe" id="checkbox" value="PHE" placeholder="PHE"></td>
                                </tr>
                                <tr>
                                    <td>Laughing Bacchus Winecellars</td>
                                    <td>Yoshi Tannamuri</td>
                                    <td>Canada</td>
                                </tr>
                                <tr>
                                    <td>Magazzini Alimentari Riuniti</td>
                                    <td>Giovanni Rovelli</td>
                                    <td>Italy</td>
                                </tr>
                            </table>
                            {{!-- <div class="rs-select2 js-select-simple select--no-search">
                                <select name="subject">
                                    <option disabled="disabled" selected="selected">Choose Subjects</option>
                                    <input type="checkbox" value="history">
                                    <optgroup label="Humanities">
                                        <input type="checkbox" id="checkboxes" name="history" value="History" onclick="showCheckboxes">
                                    </optgroup>

                                    <optgroup label="Sciences">
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Biology">Biology</option>
                                        <option value="Physcs">Physics</option>
                                    </optgroup>
                                    <optgroup>Subject</optgroup>
                                </select>
                                <div class="select-dropdown"></div>
                            </div> --}}
                        </div>
                        
                        {{/if}}
                        
                        <!--<div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>-->
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="../static/vendor/select2/select2.min.js"></script>
    <script src="../static/vendor/datepicker/moment.min.js"></script>
    <script src="../static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="../static/js/register.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->